.about-third-row-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "DotGothic16", sans-serif;
  max-width: 1200px;
  height: 550px;
  margin: auto;
  justify-content: space-between;
  /*  */
  margin-top: 100px;
  margin-bottom: 300px;
}
.about-third-row-first-column {
  position: relative;
  width: 100%;
  margin-left: 200px;
  height: 650px;
}

.third-row-title {
  display: flex;
  font-size: 75px;
  font-weight: 600;
  text-shadow: 5px 5px black;
}

/* Animation  */
.collab-p {
  animation: color-change11 4s infinite;
  display: flex;
  position: absolute;
  margin-top: 100px;
  z-index: 2;
}
.color-change-zooluft {
  animation: color-change12 4s infinite;
}

/* keyframes for nice animation */
@keyframes color-change11 {
  0% {
    color: white;
  }
  25% {
    color: #33ff33;
  }
  50% {
    color: white;
  }
  75% {
    color: #9400d3;
  }
  100% {
    color: white;
  }
}
@keyframes color-change12 {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  75% {
    color: #9400d3;
  }
  100% {
    color: white;
  }
}

.middle-text2 {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* float: right; */
  bottom: 260px;
}

.bottom-text2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  float: right;
  text-align: right;
  max-width: 430px;
  text-align: justify;
}

.about-third-row-second-column {
  max-width: 370px;
  max-height: 550px;
  overflow: hidden;
  position: absolute;
  margin-top: 100px;
  z-index: 1;
}

.about-third-row-second-column img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
  max-width: 380px;
  max-height: 580px;
}
.about-third-row-second-column:hover img {
  filter: blur(0);
  transform: scale(1);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .about-third-row-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "DotGothic16", sans-serif;
    max-width: 600px;
    height: 550px;
    margin: auto;
    justify-content: space-between;
    /*  */
    margin-top: 100px;
    margin-bottom: 300px;
  }
  .about-third-row-first-column {
    position: relative;
    width: 100%;
    margin-left: 20px;
    height: 650px;
  }
  .third-row-title {
    display: flex;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 5px 5px black;
  }
  .middle-text2 {
    display: none;
  }
  .bottom-text2 {
    position: absolute;
    bottom: -190px;
    right: 110px;
    float: left;
    text-align: center;
    max-width: 320px;
    font-size: 15px;
  }

  .about-third-row-second-column {
    max-width: 370px;
    max-height: 550px;
    overflow: hidden;
    position: absolute;
    margin-top: 100px;
    z-index: 1;
  }

  .about-third-row-second-column img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(0px);
    transform: scale(1.2);
    max-width: 280px;
    max-height: 480px;
  }
}

@media only screen and (max-width: 650px) {
  .about-third-row-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "DotGothic16", sans-serif;
    max-width:320px;
    height: 550px;
    margin: auto;
    justify-content: space-between;
    /*  */
    margin-top: 100px;
    margin-bottom: 300px;
  }
  .about-third-row-first-column {
    position: relative;
    width: 100%;
    margin-left: 20px;
    height: 650px;
  }
  .third-row-title {
    display: flex;
    font-size: 45px;
    max-width: 320px;
    font-weight: 600;
    text-shadow: 5px 5px black;
  }
  .middle-text2 {
    display: none;
  }
  .bottom-text2 {
    position: absolute;
    bottom: -190px;
    right: 110px;
    float: left;
    text-align: center;
    max-width: 320px;
    font-size: 15px;
  }

  .about-third-row-second-column {
    max-width: 370px;
    max-height: 550px;
    overflow: hidden;
    position: absolute;
    margin-top: 100px;
    z-index: 1;
  }

  .about-third-row-second-column img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(0px);
    transform: scale(1.2);
    max-width: 280px;
    max-height: 480px;
  }
}
