.twitch-row-wrapper{
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: 'DotGothic16', sans-serif;
  max-width: 1200px;
  max-height: 550px;
  margin: auto;
  justify-content: space-between;
  /*  */
  margin-top: 100px;
  margin-bottom: 100px;
}
.twitch-first-column{
  position: relative;
  max-width: 800px;
}

.twitch-row-title{
  display: flex;
  font-size: 75px;
  font-weight: 600;
}
.twitch-first-column p{
  top: 150px;
  left:10%;
}

.twitch-cunt1{
  color: orange;
  animation: color-change10 4s infinite;
}
.twitch-cunt2{
  color: orangered;
  animation: color-change11 4s infinite;
}

/* keyframes for nice animation */

@keyframes color-change10 {
  0% { color: white }
  25% { color: #6441a5; }
  50% { color: white; }
  75% { color: #6441a5;}
  100% { color: white; }
}
@keyframes color-change11 {
  0% { color: #6441a5 }
  25% { color: white; }
  50% { color: #6441a5; }
  75% { color: white;}
  100% { color: #6441a5; }
}
.twitch-second-column img{
  transition: transform 1s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
    /* max-width: 370px;
    max-height: 550px; */
  }
  .twitch-second-column:hover img {
  filter: brightness(100%);
  transform: scale(0.9);
  cursor: pointer;
  }
  
  /* EXTRAS */
  a {
    text-decoration: none;
  }


  /* MOBILE VIEW */
  @media only screen and (max-width: 1200px) {
     
    .twitch-row-wrapper{
        flex-direction: column;
        max-width: 650px;
        max-height: 650px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
      .twitch-row-title{
      font-size: 55px;
        margin-bottom: 200px;
      }
      .twitch-first-column p{
        top: 100px;
        left:10%;
      }
      .twitch-second-column img{
        filter: brightness(100%);
          max-width: 600px;
      /* max-height: 550px; */
        }
    
    }
    
    @media only screen and (max-width: 650px) {
      .twitch-second-column img{
          filter: brightness(100%);
            max-width: 320px;
        /* max-height: 550px; */
          }
        .twitch-row-wrapper{
          max-width: 320px;
      }

        }