.youtube-wrapper{
    max-width: 1200px;
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;
    padding-bottom: 30px;
    margin: auto;
}

.youtube-wrapper p{
    font-weight: bold;
    letter-spacing: 5px;
}
.youtube-player{
    width: 820px;
    height: 465px;
}

@media only screen and (max-width: 1200px) {
    .youtube-player{
        max-width: 650px;
        height: 335px;
    }
}

@media only screen and (max-width: 650px) {
    .youtube-player{
        width: 320px;
        height: 195px;
    }
}
